/* CSS STYLING */

/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html, body {
    margin-top: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

 /* Navbar */

 .navSection {
  background-color: #871b1b;
  height: 200px;
  width: 100%;

 }

 /* Navbar */
 .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} /* Fixed to the top with full 100% width*/

.navbar li {
  padding: 5px;
  color: #000000;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  background: rgb(135, 19, 19);
  border: 1px solid rgb(135, 19, 19);
  border-radius: 3px;
  color: white;
  text-decoration: none;

}

a {
  color: #070606;
}/*initial link text colour*/

a:visited {
  color: #d9910d;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2em;
} /*initial link text colour after visit*/

/* navbar hover effects */

a:hover {
  background: white;
  border: 1px solid rgb(135, 19, 19);
  text-decoration: none;
  color: rgb(135, 19, 19);
} /*initial link text colour hovering*/

/* End of hover effects */

/* End of Navbar */

 /* Hero Image and Container */

.hero-image {
  position: relative; /*positioned relative to its normal position*/
  height: 500px;
  overflow: hidden; /* property controls size and fit*/
  background: url(../imgs/pexels-vishnu-r-nair-1105666.jpg ) no-repeat center;
  background-size: cover;
  margin-top: 60px;
  filter: black;
}

 .container {
   position: absolute; /*positioned relative to the nearest positioned ancestor*/
   top: 50%;
   left: 50%;
   width: 100%;
   height: 500px;
   transform: translate( -50%, -50%); /*allows you to change the position of elements*/
   text-align: center;
   color: #f1f1f1;
   font-weight: 700;
   text-transform: uppercase;
   box-shadow: 0 10px 20px rgb(40, 40, 40, 40);
}

 .container {
   font-size: 72px;
   letter-spacing: 0.2em;
   margin: 0;
}

 .container h1 {
   font-size: 72px;
   border: 10px solid #f1f1f1;
   padding: 6px 14px;
   display: inline-block;
}

  /* Hero Image Description */

 #des {
   margin: 20px;
   display: block;
   font-size: 16px;
   text-shadow: 0 0 10px #000000;
   letter-spacing: normal;
}

  /* Hero Image Button */

 .btn {
   color: #f1f1f1;
   padding: 10px 24px;
   font-size: 20px;
   text-decoration: none;
   background-color: rgb(106, 32, 32);
   border-radius: 8px;
   transition: 0.3s all; /*allows you to change property values smoothly, over a given duration*/

}

 .btn:hover {
   opacity: 0.8;
 }

/* End of Hero Image styling */

/* Typography */
h1, p {
  font-family: 'Roboto', sans-serif;
}

/* gallery section*/
 .musicGenre {
  background-color: #f1f1f1;
  height: 700px;
} 

.genre-title {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
/* position the container*/

.flex-container .row {
  padding-top: 60px;
  
}
/*Gallery section bg colour*/

.gallery-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.gallery-image:hover+span {
  bottom: -36%;
  opacity: 1;
}

.gallery-image img {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}/* allows coder to transform and element in (2D) or (3D) space.*/ /*the transition effect will start when the specified CSS property changes*/

 .gallery-image:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} /* Hover Zooms the Images forward and defines a transformation that resizes an element on the 2D plane.*/

.gallery-image img {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 opacity: 0;
 transition: opacity 0.4s ease-in-out;
 background: #000000;
 cursor: pointer;
}/* End of gallery*/

/* Music video*/
.mediaSection {

 height: 600px;
 
}
.container-video {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding-top: 100px;
padding-bottom: 100px;
  
}

  /* Footer*/

  
  .footer {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    background-color: #871b1b;
    color: #f1f1f1;
    text-align: center;
    
    }
  /*negative margin */

  /* Classes */

  /* Intro Text */

  .intro {
   width: 860px;
   margin: auto;
   padding-bottom: 50px;
  }

  /* Iframe */

  iframe {
    text-shadow: 1px 1px black;
    margin-top: 100px;
  }
  
  
/*===========================Media Queries==========================*/

/*IPhone 12 @ 390 pixels max-width 480px pixels height (aprox.)*/


@media only screen 
and (min-device-width: 390px) 
and (max-width: 480px) and (orientation: portrait) {
    
    body, html {
      height: 100%;
      width: 98%;
      margin-top: 0;
      padding: 0;
      overflow-x: hidden;
      background: #f1f1f1;
      font-family: sans-serif;
  }

  


/* -------------------------------------- */

  /* Hero Image */
  div.hero-image div.container {
    width: 100%;
    position: relative;
    height: 500px;
    overflow: hidden; 

  }

  /* Navbar */
  nav {
  padding-bottom: 2em;

}
 .navbar ul {
  background-color: #f1f1f1;
  display: block;
  top: 0;
  z-index: 1;
  padding: 5px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  background: rgb(135, 19, 19);
  border: 1px solid rgb(135, 19, 19);
  border-radius: 3px;
  color: white;
  text-decoration: none;

}

  /* h1 title */
  h1 {
  width: 100%;
  }

  /* Intro */

  p.intro {
    width: 80%;
    padding: 1px;
    margin-bottom: 250px;

  }

  /* Media Video */
  div.container-video {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    margin-top: 49em;
  }

  /* Google maps */
  iframe {
    position: relative;
    top: -15px;
  }

  /* footer */
  footer.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: -50px;
   } 

   
   }
